<!--

<div class="footer_box_line"></div>

<div class="footer_container">

	<div class="footer_box" style="background: #e5e5e5">

		<div class="spacer_50"></div>

    	<div class="footer_navigation">

    		<a class="footer_links" href="#">Terms & conditions</a> &nbsp;&nbsp;
    		<a class="footer_links" href="#">Freedom of information</a> &nbsp;&nbsp;
    		<a class="footer_links" href="#">Technical support</a> &nbsp;&nbsp;

    	</div>

        <div class="spacer_20"></div>

        <p class="footer_text">

            &#169; Crown copyright 2015. All content is available under the <a class="footer_links no_link_style" href="#">Open Government Licence v3.0</a>, except where otherwise stated.

        </p>

        <div class="spacer_20"></div>

        <div class="footer_navigation">
            <a class="link_12_gray" href = "../bankruptcies_index">Bankruptcy user journeys</a> 
            &nbsp;&nbsp;
            <a class="link_12_gray" href = "../../../../../index">UX prototypes</a>
        </div>

    </div>

</div>

-->

