<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>

<title>Digital Land Charges</title>

<head>

	<link rel="stylesheet" href="/public/stylesheets/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>

{{>includes/header_2}}

<div id="content">

	<div class="spacer_20"></div>

	<h1 class="title_48">Digital Land Charges <br>UX prototypes</h1>

	<div class="spacer_20"></div>

	<table class="custom_1">
		<tr>
			<th width="12%" class="table_text_black">Sprint</th>
			<th width="10%" class="table_text_black">Date</th>
			<th width="30%" class="table_text_black">What's new</th>
			<th width="40%" class="table_text_black">What's changed</th>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/live/v3/home">Live v3</a></td>
			<td valign="top">01.06.2016</td>
			<td valign="top">
				<li>Change in cancellations flow to accommodate keying of name</li>
			</td>
			<td valign="top">
				<li>Updating links to turn black when hovered over</li>
				<li>Removed default class of charge for LC registrations</li>
				<li>Amended name label on Bankruptcy registrations to read Court name throughout the flow</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/live/v2/home">Live v2</a></td>
			<td valign="top">11.05.2016</td>
			<td valign="top">
				<li>Addition of reinstate entry</li>
			</td>
			<td valign="top">
				<li>Amending scenario of LC corrections for testing</li>
				<li>Internal Functions page amended to accommodate reinstate entry</li>
				<li>Home page amended to accommodate reinstate entry</li>
				<li>Success page for Corrections amended to accommodate reinstate entry</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/live/v1/home">Live v1</a></td>
			<td>04.05.2016</td>
			<td valign="top">
				<li>Land charge corrections</li>
			</td>
			<td valign="top">
				-
			</td>
		</tr>
	</table>

	<div class="spacer_30"></div>
	<div class="spacer_30"></div>
	<div class="spacer_30"></div>

	<h1 class="title_36">Beta Prototypes</h1>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_black">Sprint</th>
			<th width="30%" class="table_text_black">What's new</th>
			<th width="50%" class="table_text_black">What's changed</th>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint7/home">Beta Sprint 7</a></td>
			<td style="vertical-align: top">
				-
			</td>
			<td valign="top">
				<li>Updated list of name types to reflect the build</li>
				<li>Added additional page to bankruptcy amendment flow to check PAB/WOB data to reflect the build</li>
				<li>Tidied up links throughout the service so only active areas are shown</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint6v3/home">Beta Sprint 6 v3</a></td>
			<td style="vertical-align: top">
				-
			</td>
			<td valign="top">
				<li>Added option of K22 to corrections</li>
				<li>Unidentified applications list now shown as form types/names as opposed to list names</li>
				<li>Updated first page of bankruptcy registrations flow to remove radio buttons and have generic inputs</li>
				<li>Confirmation message on 'reject' added to bankruptcy registration flow (would prefer 'Yes/No' options on confirm box, but didn't know how to change from the generic 'Cancel/OK')</li>
				<li>Added the additional information required in the rectification flow</li>
				<li>Changed location and wording of 'wrong form' links</li>
				<li>Reintroduced 'Return to this application later' links, that now work!</li>
				<li>Introduced different columns on the stored list</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint6v2/home">Beta Sprint 6 v2</a></td>
			<td style="vertical-align: top">
				<li>Addition of unidentified list and its flow</li>
			</td>
			<td valign="top">
				<li>Removing 'Correction' box</li>
				<li>Amending date input on corrections to one input field</li>
				<li>Removing image from correction flow, added text instead</li>
				<li>Making date input fields one input field as opposed to three throughout</li>
				<li>Add the option to choose a registration when selecting part cancellation and there are multiple entries</li>
				<li>Amending the way in which additional information is requested on part cancellations</li>
				<li>Example of error message, and reject link, on invalid key number added to K1 registration when entering 9999999 as a key number (Sorry that the alignment is off when first viewing the page - it was the best I could do!)</li>
				<li>Addition of 'No fee' radio button</li>
				<li>Addition of 'Reject' link</li>
				<li>Addition of adjudicators reference to bankruptcy registration process. The flow still reflects appn from a court, it will be the same flow for an insolvency appn, but there will just be adjudicator reference instead of the court details</li>
				<li>Amended name of step1 of bankruptcy registration flow to not mention court, now read 'Input official details'</li>
				<li>Removed the 'Return to this application later' links</li>
				<li>Added 'in the wrong list' type links to first page in all flows</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint6v1/home">Beta Sprint 6 v1</a></td>
			<td style="vertical-align: top">
				<li>Addition of the renewal process</li>
			</td>
			<td valign="top">
				<li>Added an 'Additional Information' field to the bankruptcy amendment process</li>
				<li>Added the link to store the application back onto the cancellation process</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint5v2/home">Beta Sprint 5 v2</a></td>
			<td style="vertical-align: top">
				<li>Addition of processing a correction. NB. I have designed bankruptcy, if a land charge is entered then the fields shown will be relevant to a LC (like rectifications)</li>
				<li>Addition of the cancellation process</li>
			</td>
			<td valign="top">
				<li>Changed bankruptcy registration process so that court details entered first</li>
				<li>Only demonstrates what is shown when court details have already been used; if they haven't move straight on to step 2</li>
				<li>Swapped PAB and WOB input fields around so WOB is first in the amends process</li>
				<li>Changed date time picker to three separate fields for day/month/year in the amends process</li>
				<li>Added the registration number allocated during a process within the success banner</li>
				<li>Removed the Part Cancellation links and lists</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint5v1/home">Beta Sprint 5 v1</a></td>
			<td style="vertical-align: top">
				<li>Addition of processing a PAB amendment</li>
			</td>
			<td valign="top">
				<li>Amending of wording on step 1 of rectifications to read 'Original registration number'</li>
				<li>Adding title and hint to top of step 2 of rectifications</li>
				<li>Amending the wording of step 2 to 'Check and amend original' in the rectification process</li>
				<li>Removed field for priority notice number in the rectification process</li>
				<li>Amending button on step 4 in the rectification process to read 'Complete' instead of 'Continue'</li>
				<li>Wording of the second sentence in the error message amended</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint4v2/home">Beta Sprint 4 v2</a></td>
			<td style="vertical-align: top">
				<li>Addition of processing a rectification</li>
				<li>Addition of processing a LRRABO amendment</li>
			</td>
			<td valign="top">
				<li>Amend reprint to include date for K22 and all name options for K17/K18</li>
				<li>Adding extra address lines to bankruptcy registrations process</li>
				<li>Amending 'Reference' to read 'Court reference number' in the bankruptcy registration process</li>
				<li>Amending 'Add alternative name' link to read 'Add AKA' in the bankruptcy registration process</li>
				<li>Adding the re-key on court name to the bankruptcy registration process</li>
				<li>Re-wording of the error message in validation</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint4v1/home">Beta Sprint 4 v1</a></td>
			<td style="vertical-align: top">
				<li>Addition of processing a priority notice registration</li>
				<li>Addition of processing a bankruptcy registration</li>
			</td>
			<td valign="top">
				<li>General point: if 'g' is keyed in to the forename when re-keying (step2), the error will be shown</li>
				<li>Amending Image Management on the home page to read Internal Functions and add a corrections link (the name will then need to be amended on the navigation as well)</li>
				<li>Remove all links to Rectifications from Bankruptcy Applications</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint3v2/home">Beta Sprint 3 v2</a></td>
			<td style="vertical-align: top">
				<li>Addition of reprint function to the enquiries section</li>
			</td>
			<td>
				<li>Removal of 'step 2' in the both the bankruptcy and full search process</li>
				<li>Change of help text for applicant address on land charge registrations, full and bankruptcy searches</li>
				<li>Amended wording in review table on Step 2 for land charge registrations</li>
				<li>Added drop-down for charge in step 2 (shouldn't include F, PA or WO) for use with K1 appn's</li>
				<li>Not shown each scenario, but class of charge for K2 should show as F; for K3 as PA; and K4 as WO - won't need rekeying though</li>
				<li>Addition of a completed alert added to the top of the worklist when returned to</li>
				<li>Added how an error in the form should look (key 'g' into forename double key field)</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint3/home">Beta Sprint 3</a></td>
			<td style="vertical-align: top">
				<li>Addition of full and bankruptcy searches</li>
				<li>Changes to worklist for full and bankruptcy searches only</li>
			</td>
			<td>
				<li>Default estate owner drop down to say Private individual</li>
				<li>Rename step 2 to read 'Check and verify details'</li>
				<li>Added re-keying of class of charge</li>
				<li>Re-arranged step2 so re-keying fields at the top</li>
				<li>When a key number entered the Direct debit radio button is checked</li>
				<li>Removed thumbnail; only have thumbnails if more that one page</li>
				<li>Adding Priority Notice field to land charges registrations</li>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/round1/home">Beta Sprint 2</a></td>
			<td style="vertical-align: top">
				<li>Land charge applications (K1-K4)</li>
				<li>Land charge worklists</li>
				<li>Dashboard</li>
			</td>
			<td valign="top">-</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/bankruptcies/12nov15/bankruptcies_index">Bankruptcies</a></td>
			<!-- <td style="vertical-align: top">12/11/2015</td> -->
			<td style="vertical-align: top">Improvements from previous prototype including remove second page, zoom functionality and the use of mouse.</td>
			<td valign="top">-</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/bankruptcies/06nov15/bankruptcies_index">Bankruptcies</a></td>
			<!-- <td style="vertical-align: top">06/11/2015</td> -->
			<td style="vertical-align: top">Initial bankruptcy registration of an application with one name and one address + Bankruptcy amendment of an application with multiple addresses.</td>
			<td valign="top">-</td>
		</tr>
	</table>
</div>

</body>

</html>
