<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>

<title>Digital Land Charges</title>

<head>

	<link rel="stylesheet" href="/public/stylesheets/styles.css">
	<link rel="stylesheet" href="/public/stylesheets/elements.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>

{{>includes/header_2}}

<div id="content">

	<div class="spacer_20"></div>

	<h1 class="title_48">Digital Land Charges <br>UX prototypes</h1>
	
	<div class="spacer_20"></div>

	<h2 class="title_24">Working progress prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Latest Digital Land Charges prototypes organised by project: </p>

	<div class="spacer_20"></div>

	<ul>

		<li>
			<a class="link_19" href="/projects/digital_land_charges/bankruptcies/latest/bankruptcies_index">Bankruptcies</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Land Charges</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Agricultural Credits</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Index of Proprietors Names</a>
		</li>
	</ul>

	<div class="spacer_50"></div>

	<h2 class="title_24">Usability testing prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Usability testing prototypes organised by date: </p>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_gray">Project</th>
			<th width="15%" class="table_text_gray">Date</th>
			<th width="70%" class="table_text_gray">Description</th>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/bankruptcies/latest/bankruptcies_index">Bankruptcies</a></td>
			<td style="vertical-align: top">05/11/2015</td>
			<td style="vertical-align: top">Bankruptcy registration of an application with one name and one address + Bankruptcy amendment of an application with multiple addresses.</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

	<h2 class="title_24">Beta prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Beta prototypes organised by date: </p>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_gray">Project</th>
			<th width="15%" class="table_text_gray">Date</th>
			<th width="70%" class="table_text_gray">Description</th>
		</tr>
		<tr>
			<td><a href="#">Bankruptcies</a></td>
			<td>30/11/2015</td>
			<td>Initial draft for beta (pending business assesstment approval)</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

</div>

</body>

</html>
