<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>

<title>Digital Land Charges</title>

<head>

	<link rel="stylesheet" href="/public/stylesheets/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>

{{>includes/header_2}}

<div id="content">

	<div class="spacer_20"></div>

	<h1 class="title_48">Digital Land Charges <br>UX prototypes</h1>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_gray">Sprint</th>
			<!-- <th width="15%" class="table_text_gray">Date</th> -->
			<th width="30%" class="table_text_gray">What's new</th>
			<th width="50%" class="table_text_gray">What's changed</th>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/sprint3/home">Beta Sprint 3</a></td>
			<td style="vertical-align: top">Addition of full and bankruptcy searches</td>
			<td>Default estate owner drop down to say Private individual<br>
				Rename step 2 to read 'Check and verify details'<br>
				Added re-keying of class of charge<br>
				re-arranged step2 so re-keying fields at the top<br>
				when a key number entered the Direct debit radio button is checked<br>
				removed thumbnail as only one page<br>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/beta/round1/home">Beta Sprint 2</a></td>
			<td style="vertical-align: top">Land charge applications (K1-K4)<br>
				Land charge worklists<br>
				Dashboard
			</td>
			<td>-</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/bankruptcies/12nov15/bankruptcies_index">Bankruptcies</a></td>
			<!-- <td style="vertical-align: top">12/11/2015</td> -->
			<td style="vertical-align: top">Improvements from previous prototype including remove second page, zoom functionality and the use of mouse.</td>
			<td>-</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="/projects/digital_land_charges/bankruptcies/06nov15/bankruptcies_index">Bankruptcies</a></td>
			<!-- <td style="vertical-align: top">06/11/2015</td> -->
			<td style="vertical-align: top">Initial bankruptcy registration of an application with one name and one address + Bankruptcy amendment of an application with multiple addresses.</td>
			<td>-</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

</div>

</body>

</html>
